<!doctype html>
<html>
    <html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/reveal.js/dist/reveal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/reveal.js/dist/theme/black.css') }}" id="theme">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
            <h2> CES explorer </h2>
            Explore the Constant Elasticity of Substitution function
            Nicolas Schlegel
        </section>

        <section> 
            <h2> DEFINITION </h2>

            <!-- <p class="fragment fade-out"> $y$ is a CES of $~ x_1$ and $x_2$ if: </p> -->

            $$y = (\alpha_1 {x_1}^{\rho} + \alpha_2 {x_2}^{\rho}) ^{\frac{1}{\rho}}$$           
            
            <!-- <p class="fragment">  -->
                <ul>
                <li>$\alpha_1$ and $\alpha_2$ are the shares of $x_1$ and $x_2$</li>
                <li>$\rho$ is the substitution parameter</li>
                <li>$\sigma = \frac{1}{1-\rho}$ is the elasticity substitution</li>
                </ul>
            <!-- </p> -->
            
        </section>
      
        <section>
          <h2>LET'S PLOT THIS</h2>
          <div id="plotly-div">{{ url_ces_graph | safe }}</div>
          <!-- <iframe width="1000" height="550" frameborder="0" seamless="seamless" scrolling="no" \
          src='ces_plot'></iframe> -->
        </section>
        

    </div>
    </div>
    <script src="{{ url_for('static', filename='node_modules/reveal.js/dist/reveal.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/reveal.js/plugin/math/math.js') }}"></script> 
    <script>
        Reveal.initialize({
        katex: {
            version: 'latest',
            delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        },
        plugins: [ RevealMath.KaTeX ]
        });
    </script>
  </body>
</html>